<header>
    <mat-toolbar style="background-color: black;">
        <mat-toolbar-row>
          <span style="font-size: 40px;  font-family: fantasy;">Ad-Ziy</span>
          <span class="example-spacer"></span>
          <button *ngIf="!basicAuthenticationService.isLoggedIn()" routerLink="/login"
           mat-raised-button style="color: black;background-color: cyan;" class="example-icon" aria-label="Example icon-button with menu icon">
            Login
          </button>
          <button *ngIf="basicAuthenticationService.isLoggedIn()" routerLink="/logout"
           mat-raised-button color="warn" class="example-icon" aria-label="Example icon-button with menu icon">
            Logout
          </button>
        </mat-toolbar-row>
    
        <mat-toolbar-row *ngIf="basicAuthenticationService.isLoggedIn()">
          <span>
            <button *ngIf="basicAuthenticationService.isLoggedIn()" mat-raised-button routerLink="/welcome/home" color="accent">Home</button>
          </span>
          <span class="left-spacer"></span>
          <span>
            <button *ngIf="basicAuthenticationService.isLoggedIn()" mat-raised-button routerLink="/vehicle" color="accent">Vehicle</button>
          </span>
          <span class="left-spacer"></span>
          <span>
            <button *ngIf="basicAuthenticationService.isLoggedIn()" mat-raised-button routerLink="/land" color="accent">Land</button>
          </span>
          <span class="left-spacer"></span>
          <span>
            <button *ngIf="basicAuthenticationService.isLoggedIn()" mat-raised-button routerLink="/sparepart" color="accent">Spare Parts</button>
          </span>
          <span class="left-spacer"></span>
       
        </mat-toolbar-row>
      </mat-toolbar>
</header>