<div class="container mt-5">

    <div class="form-center" fxLayout="row" fxLayoutAlign="center center">
        <mat-card style="border-radius: 20px; box-shadow: rgba(7, 67, 134, 0.3) 0px 0px 0px 3px;">
            <div class="header-center">
                <mat-card-header>
                    <mat-card-title style="color: rgba(253, 241, 76, 0.911);font-size: 35px;" *ngIf="land.landId==-1">
                        <b>Add Land</b></mat-card-title>
                    <mat-card-title style="color: rgb(146, 232, 146);font-size: 25px;" *ngIf="land.landId!=-1">
                        <b>Update Land</b></mat-card-title>
                </mat-card-header>
            </div>
            <!-- <div class="alert alert-danger" *ngIf="vehicleForm.dirty && vehicleForm.invalid">Enter Valid Details!</div> -->
            <div class="alert alert-danger" *ngIf="landForm.dirty && email.invalid && email.touched">Enter Valid Email!
            </div>

            <div class="alert alert-danger" *ngIf="landForm.dirty && lname.invalid && lname.touched">Enter Valid Name!
            </div>
            <div class="alert alert-danger" *ngIf="landForm.dirty && price.invalid && price.touched">Enter Valid Price!
            </div>

            <div class="alert alert-danger" *ngIf="landForm.dirty && seller.invalid && seller.touched">Enter Valid
                Seller Name!</div>
            <div class="alert alert-danger" *ngIf="landForm.dirty && size.invalid && size.touched">Enter Valid Size!
            </div>
            <div class="alert alert-danger" *ngIf="landForm.dirty && contact.invalid && contact.touched">Enter Valid
                Contact Number!</div>
            <div class="alert alert-danger" *ngIf="landForm.dirty && location.invalid && location.touched">Enter Valid
                Location!</div>

            <mat-card-content>
                <form (ngSubmit)="!landForm.invalid && saveLand(landForm)" #landForm="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <fieldset class="form-group" style="color:yellow">
                                <label> Land Title</label>
                                <input type="text" #lname="ngModel" [(ngModel)]="land.lname" class="form-control"
                                    name="lname" required="required" minlength="5">
                            </fieldset>
                            <br>
                            <fieldset class="form-group" style="color:yellow">
                                <label>Price</label>
                                <input type="text" #price="ngModel" [(ngModel)]="land.price" class="form-control"
                                    name="price" required="required" minlength="5">
                            </fieldset>
                            <br>
                            <fieldset class="form-group" style="color:yellow">
                                <label>Seller</label>
                                <input type="text" #seller="ngModel" [(ngModel)]="land.seller" class="form-control"
                                    name="seller" required="required" minlength="5">
                            </fieldset>
                            <br>
                        </div>
                        <div class="col-6">
                            <fieldset class="form-group" style="color:yellow">
                                <label>Land Size</label>
                                <input type="text" #size="ngModel" [(ngModel)]="land.lsize" class="form-control"
                                    name="size" required="required" minlength="3">
                            </fieldset>
                            <br>


                            <fieldset class="form-group" style="color:yellow">
                                <label>Email</label>
                                <input type="email" #email="ngModel" required email [(ngModel)]="land.email"
                                    class="form-control" name="email">
                            </fieldset>
                            <br>
                            <fieldset class="form-group" style="color:yellow">
                                <label>Contact Number</label>
                                <input type="text" #contact="ngModel" [(ngModel)]="land.contact" class="form-control"
                                    name="contact" required minlength="10" maxlength="10">
                            </fieldset>
                            <br>
                        </div>
                    </div>
                    <div class="col-4">

                        <fieldset class="form-group" style="color:yellow">
                            <label>Location</label>
                            <input type="text" #location="ngModel" [(ngModel)]="land.location" class="form-control"
                                name="location" required="required" minlength="5">
                        </fieldset>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select Land type</mat-label>
                                    <mat-select required="required" [(value)]="land.lCondition">
                                        <mat-option>None</mat-option>
                                        <mat-option value="Agricultural">Agricultural</mat-option>
                                        <mat-option value="Re-Conditioned">Commercial</mat-option>
                                        <mat-option value="Re-Conditioned">Residential</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label style="font-size: 20px;" style="color:yellow">More Info</mat-label>
                                <textarea matInput name="moreInfo" rows="12" [(ngModel)]="land.moreInfo"
                                    placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
                            <div class="row">
                                <!-- <mat-form-field appearance="fill" style="color:yellow">
                                            <mat-label style="color:yellow" >Select Transmission</mat-label>
                                            <mat-select  required="required" [(value)]="land.transmission">
                                              <mat-option>None</mat-option>
                                              <mat-option value="Auto">Auto</mat-option>
                                              <mat-option value="Manual">Manual</mat-option>
                                            </mat-select>
                                          </mat-form-field> -->
                            </div>
                        </div>
                        <div class="col-8">
                            <div>
                                <div class="dropzone" appDrag (files)="fileDropped($event)">
                                    <div class="text-warpper">
                                        <div class="centered">
                                            Drag and drop your images
                                            or
                                            <a (click)="selectFile.click()" class="browse-btn">Browse</a>
                                            files
                                        </div>
                                    </div>
                                </div>
                                <input style="display: none;" type="file" multiple value="select" #selectFile
                                    (change)="onFileSelected($event)">
                            </div>
                            <div class="mt-5">
                                <div class="row">
                                    <mat-grid-list cols="4" rowHeight="1:1">
                                        <mat-grid-tile *ngFor="let v of land.landImages; index as i">
                                            <div style="position:relative">
                                                <span class="btn-remove-img" (click)="removeImage(i)">x</span>
                                                <img [src]="v.url" width="100px" height="100px">
                                            </div>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="header-center">
                        <fieldset>
                            <button type="submit" [disabled]=" !land.lCondition" mat-raised-button color="accent"
                                style=" background-color: #31a7ff; color: #FFFFFF; width: 120px; float: right;">Save</button>
                        </fieldset>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>