.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form){
    border-left: 5px solid red;
}

.mat-card{
  /* background-image: url('../assets/images/car1.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(100, 86, 86);

}

.header-center{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; 
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-grid-tile.mat-grid-tile{
    border: 1px solid white;
  }

.btn-remove-img{
  position: absolute;
  cursor: pointer;
  top: -10px;
  right: -10px;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: auto;
  text-align: center;
}

.dropzone{
  height: 150px;
  min-width: 100px;
  display: table;
  background-color: #eee;
  width: 300px;
  border: dashed 2px darkgray;
  border-radius: 10px;
  margin: auto auto;
}

.text-warpper{
  display: table-cell;
  vertical-align: middle;
  color: #000;
}

.centered{
  text-align: center;
}

.browse-btn{
  color: blue;
  cursor: pointer;
}