<!-- <div style="text-align: center;font-size: 140px;" class="mt-5">
    <span><b>Welcome!</b></span>
</div> -->

<div class="wrap">
  <div class="container">
    <h1 style="margin-top: 25px;font-family: Brush Script MT; font-weight: 800;font-size: 100px;">Welcome!</h1>
</div>


  <ngx-typed-js [strings]="['Awesome', 'Amazing']"  [typeSpeed]="200">
    <div class="container">
        <h2 >We are an <span style="color: green;" class="typing"></span> advertising company!</h2>
    </div>
  </ngx-typed-js>

  <ngx-typed-js [strings]="['Vehicle Advertising', 'Spare Part Advertising' , 'Land Property Advertising']" [loop]="true" [typeSpeed]="200">
    <div class="container">
        <h2 ><span style="color: darkcyan;" class="typing"></span></h2>
    </div>
  </ngx-typed-js>
  <div class="container">
    <button style="background-color: black;" mat-raised-button routerLink="/vehicle" >See Content</button>
  </div>
</div>