<!-- <h2 style="text-align: center; font-family: fantasy;" class="mt-4">Land List</h2> -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

<div class="Land-banner">
    <span>
        <h3 style="color: white;">Land for sale ...</h3>
    </span>
</div>
<div class="card" style="padding: 20px;">
    <div class="mb-3 mt-3 float-end">
        <div class="btn-group mr-2">
            <form #searchForm="ngForm"  class="form-inline my-2 my-lg-0 justify-content-center">
                <input name="searchTerm" ngModel class="form-control mr-sm-2" type="search"
                (ngModelChange)="searchLand(searchForm.value.searchTerm)" placeholder="Search Lands...">
            </form>
            <button (click)="addLand()" style="margin-left: 5px;" type="button" class="btn btn-info" data-toggle="modal"
                data-target="#addUserModal">
                <i class="fa fa-plus"></i>New Land
            </button>
        </div>
        <div style="margin-left: 5px;" class="btn-group">
            <button type="button"  class="btn btn-info">
                <!-- <i  class="fa fa-sync fa-spin"></i> -->
                <i (click)="refreshLands()"  class="fa fa-sync"></i>
            </button>
        </div>
    </div>
</div>
<!-- <div>
    <div class="alert alert-success" *ngIf="message">{{message}}</div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Land ID</th>
                <th>Land Description</th>
                <th>Vehice Confirmed</th>
                <th>Confirmed Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody *ngFor="let Land of Lands; index as i">
            <tr>
                <td>{{Land.LandId}}</td>
                <td>{{Land.moreInfo}}</td>
                <td *ngFor="let v of Land.LandImages; index as i"><img [src]="'data:image/png;base64;'+v.url" width="100px" height="100px"></td>
                <td>{{Land.addedDate | date | uppercase}}</td>
                <td><button class="btn btn-warning" (click)="updateLand(Land.LandId)">Update</button></td>
                <td><button class="btn btn-danger" (click)="deleteLand(Land.LandId)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-success" (click)="addLand()">Add New</button>
    </div>
</div> -->
<div class="card m-5 " style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
    <div class="container mt-2 mb-2">
        <mat-card onclick="getLand(Land.LandId)" *ngFor="let land of lands; index as i"
            style="margin: 10px; background-color:rgb(124, 196, 209); color: #000;">
            <div class="header-center">
                <div class="row">
                    <div class="col-5">
                        <mat-card-header>
                            <mat-card-title>{{land.lname}} - Rs.{{land.price}}</mat-card-title>
                            <mat-card-subtitle *ngIf="land.lCondition==='Brand New'" style="color: red;"><b>*
                                    {{land.lCondition}}</b></mat-card-subtitle>
                            <mat-card-subtitle *ngIf="land.lCondition==='Re-Conditioned'" style="color: yellow;"><b>*
                                    {{land.lCondition}}</b></mat-card-subtitle>
                            <img src="https://www.freakyjolly.com/wp-content/uploads/2021/07/cropped-cropped-fj-logo-192-removebg-preview-e1625997712615-1.png"
                                mat-card-avatar />
                        </mat-card-header>
                        <div> Seller : {{land.seller}}</div>
                        <div> Location : {{land.location}}</div>
                        <div> Contact No : {{land.contact}}</div>
                        <div> Posted Date : {{land.addedDate | date | uppercase}}</div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <!-- <div class="col-3"> -->
                                <!-- <mat-card-content *ngFor="let v of Land.photos; index as i">
                                    <img mat-card-image style="width: 150px; padding-top: 10px;" [src]="v">
                                </mat-card-content> -->
                                    <div *ngFor="let v of land.photos | slice:0:1; index as j">
                                        <img style="border: 1px solid;"  width="200px" height="200px" [src]="v">
                                    </div>
                            <!-- </div> -->
                            <!-- <div class="col-3">
                                <div class="row">{{Land.moreInfo}}</div>
                            </div> -->

                            <!-- <div class="col-6"> -->
                                <div class="row">
                                    <div class="col-4">
                                        <!-- <button style=" bottom: 5px;position: absolute;"  class="btn btn-primary" (click)="viewLand(Land.LandId)">View</button> -->
                                    </div>
                                    <div class="col-4">
                                        <!-- <button style=" bottom: 5px;position: absolute;" class="btn btn-warning" (click)="updateLand(Land.LandId)">Update</button> -->
                                    </div>
                                    <div class="col-4">
                                        <!-- <button style="margin-left: 14px; bottom: 5px;position: absolute;" class="btn btn-danger" (click)="deleteLand(Land.LandId)">Delete</button> -->
                                        <button style=" bottom: 80px;position: absolute;" class="btn btn-info"
                                            (click)="viewLand(land.landId)">View</button>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
    
            </div>
        </mat-card>
        <!-- <div style="text-align: center;" class="mt-5">
            <button mat-raised-button color="primary" (click)="addLand()">Add New</button>
        </div> -->
    </div>
</div>
<!-- </div>src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"  -->