<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" style="margin-top: 60px;">
<div class="row flex-lg-nowrap">
  <!-- <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    <div class="card p-3">
      <div class="e-navlist e-navlist--active-bg">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
          <li class="nav-item"><a class="nav-link px-2" href="https://www.bootdey.com/snippets/view/bs4-crud-users" target="__blank"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
          <li class="nav-item"><a class="nav-link px-2" href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page" target="__blank"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <!-- <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> -->
                      <img width="135px" height="135px" src="{{user?.profileImageUrl}}">
                    </div>
                    <div *ngIf="fileStatus?.status === 'progress'" class="progress mt-1">
                        <div class="progress-bar bg-success" role="progressbar"
                        [style.width.%]="fileStatus?.percentage"
                        >
                         {{fileStatus?.percentage}}%
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.firstName}} {{user.lastName}}</h4>
                    <p style="font-weight: 600;color: darkgray;" class="mb-0">@{{user.username}}</p>
                    <div class="text-muted"><small>Last seen {{user.lastLoginDateDisplay | date:'medium'}}</small></div>
                    <div class="mt-2">
                      <button (click)="updateProfileImage()" class="btn btn-primary" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Change Photo</span>
                      </button>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge bg-success">{{user.role.substring(5)}}</span>
                    <div class="text-muted"><small>Joined {{user.joinDate | date:'mediumDate'}}</small></div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a routerLink="" class="active nav-link">Profile</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form #profileUserForm="ngForm" (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)" class="form" novalidate="">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label style="color: #000">Full Name</label>
                              <input class="form-control" type="text" name="firstName" placeholder="John Smith" [(ngModel)]="user.firstName">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label style="color: #000">Last Name</label>
                              <input class="form-control" type="text" name="lastName" placeholder="johnny.s" [(ngModel)]="user.lastName">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label style="color: #000;">User Name</label>
                              <input class="form-control" type="text" name="username" [(ngModel)]="user.username">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label style="color: #000;">Email</label>
                              <input class="form-control" type="text" name="email" [(ngModel)]="user.email">
                            </div>
                          </div>
                        </div>
                        <div [hidden]="isAdmin" class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                                <label style="color: #000;">Role</label>
                                <select name="role" required [(ngModel)]="user.role" class="form-control">
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_SELLER">SELLER</option>
                                    <!-- <option value="ROLE_ADMIN">ADMIN</option> -->
                                </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Change Password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Current Password</label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                              <input class="form-control" type="password" placeholder="••••••"></div>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-12 mt-3 col-sm-5 offset-sm-1 mb-3">
                        <div class="mb-2"><b style="color: #000;">Account Settings</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="custom-controls-stacked px-2">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="active" [(ngModel)]="user.active" class="custom-control-input" id="notifications-blog">
                                <label style="color: #000;" class="custom-control-label" for="notifications-blog"> &nbsp;&nbsp; <b>Active</b></label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="notLocked" [(ngModel)]="user.notLocked" class="custom-control-input" id="notifications-news">
                                <label style="color: #000;" class="custom-control-label" for="notifications-news">&nbsp;&nbsp; <b>Unlocked</b></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-success" type="submit">Save Changes</button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="px-xl-3">
              <button (click)="onLogOut()" class="btn btn-block btn-secondary">
                <i class="fa fa-sign-out"></i>
                <span>Logout</span>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="isSeller" class="card">
          <div class="card-body">
            <h6 class="card-title font-weight-bold"><b>My Listings</b></h6>
            <p style="color: #000" class="card-text">Check your listings here.</p>
            <button type="button" [routerLink]="['../../vehicle']" class="btn btn-info">Vehicles</button><br><br>
            <button type="button" [routerLink]="['../../sparepart']" class="btn btn-info">Spare Parts</button><br><br>
            <button type="button" [routerLink]="['../../land']" class="btn btn-info">Lands</button><br><br>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<form enctype="multipart/form-data" style="display: none;">
    <input type="file" (change)="onProfileImageChange($event); onUpdateProfileImage()"
    name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*" />
</form>
</div>