<section class="vh-100">
    <div class="card pt-5 pb-5"
        style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">

        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div class="card" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; padding: 40px;">
                        <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
                            <h4 style="text-align: center; font-weight: 600;">Register</h4>
                            <br>
                            <div class="form-group">
                                <div class="form-outline mb-4">
                                    <input type="text" name="firstName" #firstName="ngModel" ngModel class="form-control"
                                        placeholder="First Name" minlength="1" required />
                                    <div class="help-block" style="color: red;" *ngIf="!firstName.dirty && firstName.touched; else elseBlock">
                                        Please enter valid first name
                                    </div>
                                    <ng-template #elseBlock>
                                        <div style="color: red;" *ngIf="firstName.errors?.minlength">First name invalid</div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" name="lastName" #lastName="ngModel" ngModel class="form-control"
                                    placeholder="Last Name" minlength="1" required />
                                    <div class="help-block" style="color: red;" *ngIf="!lastName.dirty && lastName.touched; else elseBlock">
                                        Please enter valid last name
                                    </div>
                                    <ng-template #elseBlock>
                                        <div style="color: red;" *ngIf="lastName.errors?.minlength">Last name invalid</div>
                                    </ng-template>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" name="username" #username="ngModel" ngModel class="form-control"
                                    placeholder="Username" minlength="3" required />
                                    <div class="help-block" style="color: red;" *ngIf="username.dirty && username.invalid && username.touched; else elseBlock">
                                        Please enter valid username
                                    </div>
                                    <ng-template #elseBlock>
                                        <div style="color: red;" *ngIf="username.errors?.minlength">Username invalid</div>
                                    </ng-template>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="email" email name="email" #email="ngModel" ngModel class="form-control"
                                    placeholder="Email" minlength="4" required />
                                    <div class="help-block" style="color: red;" *ngIf="email.dirty&& email.invalid && email.touched; else elseBlock">
                                        Please enter valid email
                                    </div>
                                    <ng-template #elseBlock>
                                        <div style="color: red;" *ngIf="email.errors?.email">Invalid email</div>
                                    </ng-template>
                            </div>
                            <div class="form-group">
                                <div class="form-outline mb-4">

                                <select name="role" required #role="ngModel" ngModel="ROLE_USER" class="form-control">
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_SELLER">SELLER</option>
                                </select>
                                </div>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" name="password" #password="ngModel" ngModel class="form-control"
                                    placeholder="Password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*([^a-zA-Z\d\s])).{9,}$"/>
                                    <div class="help-block" style="color: red;" *ngIf="password.dirty && password.invalid && password.touched; else elseBlock">
                                        Please enter valid password
                                    </div>
                                        <div style="color: red;" *ngIf="password.errors?.pattern && password.invalid && password.touched"> (Must contain 
                                            <ol>
                                                <li>Minimum eight characters</li>
                                                <li>At least one uppercase letter</li>
                                                <li>At least one lowercase letter</li>
                                                <li>At least one number</li>
                                                <li>At least one special character )</li>
                                            </ol>
                                        </div>
                            </div>
                            <!-- <div class="form-outline mb-3">
                            <input type="password" name="reTypePassword" #reTypePassword="ngModel" ngModel class="form-control"
                                placeholder="Re-Type Password" required />
                            <span style="color: red;" *ngIf="reTypePassword.invalid && reTypePassword.touched">Please enter
                                password</span>
                        </div> -->

                            <div class="text-center mt-4 pt-2" style="text-align: center;">
                                <button type="submit" class="btn btn-info" [disabled]="!registerForm.form.valid"
                                    style="padding-left: 1.5rem; padding-right: 1.5rem;">Register</button>
                                <p style="color: black;" class="small fw-bold mt-2 pt-1 mb-0">Already have an account?
                                    <a routerLink="/login" class="link-danger">Log In</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>